*{
    margin : 0%;
    padding: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
     #nav {
        background-color: rgb(48, 43, 43);
        width: 100%;
        height: 70px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 4px 6px rgb(54, 45, 45);

        a {
            color: white;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 600;
        }

        a:hover {
            font-weight: 900;
            color: grey;
        }
    }
    
    .nav{
    height: 4rem;
    display: flex;
    justify-content: space-around ;
    align-items: center;

    box-shadow:4px 3px 3px rgb(237, 228, 228);
    a{
        color: black;
        text-decoration: none;
        border-radius: 0.3em;
    }
    a:click{
        color: rgb(210, 31, 61);
    }
    .center{
        font-weight: 800;
        display: flex;
        gap: 20px;
        /* background-color: red; */
    }
    .icon{
        font-size: 1.3rem;
        background-color: black;
        color: white;
    }
    .icons{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .icon:hover{
        background-color: rgb(210, 31, 61);
        color: white;
        font-size: 1.24rem;
    }
    
}
.nav2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;  
    
    .title{
        font-size: x-large;
        color: rgb(98, 16, 98);
    }
    .sub-nav{
        width: 100%;
        height: 2rem;
        box-shadow:3px 3px 3px rgb(237, 228, 228);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .subNavText{
            color: black;
            text-decoration: none;
            padding: 1rem;
            font-weight: bold;
            
        }
        .subNavText:hover{
            color: rgb(210, 31, 61);
            border-bottom: 1px solid rgb(210, 31, 61);
            
        }
    }
    
}
.cards{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 2em;
    
    .card{
      
        width: 23em;
        border-radius: 2%;
        box-shadow:3px 3px 3px rgb(237, 228, 228);

        
        .image{
            width: 100%;
            height: 40%;
            border-radius: 2% 2% 0 0 ;
        }
        .cd{
            
            padding: .2em;
        }
        
    }
    
}
.footer{
    background-color: rgb(19, 19, 86);
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    text-align: center;
    padding: 1em;
    
    a{
        text-decoration: none;
        
        i{
            color: white;
            font-size: x-large;
        }
        h1{
            color: white;
            text-decoration: none;
            
        }
    }
    hr{
        width: 60em;
    }
    h3{
        color: white;
    }
    .icons{
        display: flex;
        width: 10em;
        height: 10em;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    .ficon{
        font-size: .5rem;
        padding: 1.2em;
        i{
            font-size: 4em;
            background-color: rgba(113, 124, 124,);
            padding: .2em;
        }
    }
    
    
    
}
}
